<h1>Editing event</h1>

<p><%= link_to '参加登録者の一覧', admin_event_attendees_path(@event) %></p>


<% form_for(@event, :url => {:action => 'update'}) do |f| %>
  <%= f.error_messages %>
  URLとして使う名前: <%= f.text_field :name %><br />
  イベントのタイトル: <%= f.text_field :title %><br />
  イベントの開催日: <%= f.date_select :scheduled_on %><br />
  イベントの説明(Hikidoc):<br />
  <%= f.text_area :desc, :cols => 75, :rows => 20 %><br />
  連絡用メールアドレス: <%= f.text_field :contact_email %><br />
  公式タグ: <%= f.text_field :official_tag %><br />
  公開日: <%= f.datetime_select :publish_at %><br />
  登録定員: <%= f.text_field :capacity %><br />
  登録されたらメールで通知する: <%= f.check_box :notify_email_enabled %><br />
  無効: <%= f.check_box :force_disabled %><br />

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<div class="backto">
<%= link_to 'イベント一覧', admin_events_path %>
</div>
