<h2>地域Ruby会議の情報を編集する</h2>

<p><%= link_to '参加登録者の一覧', admin_event_attendees_path(@event) %></p>

<div id="edit_event">
<% form_for(@event, :url => {:action => 'update'}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:form => f} %>
<p>
  <%= f.submit "Update" %>
</p>
<% end %>
</div>

<%= render :partial => "preview" %>

<div class="backto">
<%= link_to 'イベント一覧', admin_events_path %>
</div>
