<h1>Listing events</h1>

<%= link_to 'New event', new_admin_event_path %>

<table>
  <tr>
  </tr>

<% for event in @events %>
  <tr style="vertical-align:bottom">
	<td>
	  <span style="font-size:18px;"><%= h(event.title) %></span><br />
	  <div style="text-align:right">
		<%= link_to  '編集', edit_admin_event_path(event) %>&nbsp;<%= link_to '<strong>削除</strong>', {:action => 'destroy', :id => event}, :confirm => 'Are you sure?', :method => :delete %>
	  </div>
	</td>
	<td><%= link_to '参加登録者一覧', admin_event_attendees_path(event) %></td>
	<td><%= link_to '公開ページ', event_path(:name => event.name) %>
  </tr>
  </tr>
<% end %>
</table>
