<h1>新規イベント</h1>

<% form_for(@event, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form",:locals => {:form => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= render :partial => "preview" %>

<div class="backto">
<%= link_to 'イベント一覧', admin_events_path %>
</div>
