<div id="user-bar">
<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as <%=h current_user.login  %>
    <span id="user-bar-action">(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</span>
	,<%= link_to 'Admin Menu', :controller => 'admin' %>
  </div>
<% else -%>
  <div id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;', :id => 'link_to_login' %></div>
  <div id="login_dialog" style="display:none;">
    <%= render :partial => 'sessions/new' %>
  </div>
<% end -%>
</div>
