%h1#welcome 地域Ruby会議(Regional RubyKaigi)

.epigraph
  %blockquote{:cite => "http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008"}
    “regional” wasn’t going to mean “provincial”—that regional conferences could be top-notch events—and that hope has been fulfilled beyond what we could possibly have wished for.

  .source
    ――
    = link_to 'D.A.Black', 'http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008'

.event_index
  %p 地域Ruby会議(Regional RubyKaigi;りーじょなるるびーかいぎ)は、小さな<a href="http://rubykaigi.org/">RubyKaigi</a>をいろんな地域でやってしまおうというプロジェクトです。日本Rubyの会が<a href="http://www.fdiary.net/ml/ruby/msg/1929">後援</a>しています。

  %h2 これから開催される地域Ruby会議
  %div 最新情報の確認は<a href="http://rubykaigi.tdiary.net/">RubyKaigi日記</a>が便利です。

  %ul
    - unless @upcomings.blank?
      = list_of @upcomings do |event|
        &== #{dates_of event}:
        %span.event_name= link_to_if event.published?, h(event.title), event_path(:action => 'show', :name => event.name)

        -# TODO duplicated
        - if logged_in_as_admin?
          %span.admin_event_edit= link_to '編集', edit_admin_event_path(event)
    - else
      %li <span style="color:#999;font-size:large;">(開催予定の地域Ruby会議はありません)</span>

  %h2 過去の地域Ruby会議
  %ul
    = list_of @archives do |event|
      &== #{dates_of event}:
      = link_to h(event.title), url_for(:action => 'show', :name => event.name)

      -# TODO duplicated
      - if logged_in_as_admin?
        %span.admin_event_edit= link_to '編集', edit_admin_event_path(event)

  %h2 地域Ruby会議を開催するには
  %div
    = link_to(h('redmine.ruby-lang.orgのWiki'), 'http://redmine.ruby-lang.org/wiki/rubykaigi/RegionalRubyKaigi')
    を参照してください。

  = render(:partial => "admin_menu")

- content_for :javascript do
  = javascript_include_tag "jquery.simplemodal-1.1.1.pack"
