<h1 id="welcome">地域Ruby会議(Regional RubyKaigi)</h1>
<div class="event_index">
<p>地域Ruby会議(Regional RubyKaigi;りーじょなるるびーかいぎ)は、小さな<a href="http://rubykaigi.org/">RubyKaigi</a>をいろんな地域でやってしまおうというプロジェクトです。日本Rubyの会が<a href="http://www.fdiary.net/ml/ruby/msg/1929">後援</a>しています。</p>
<h2>これから開催される地域Ruby会議</h2>
<ul>
<% unless @upcomings.blank? -%>
  <% @upcomings.each do |event| -%>
    <li><%=h event.scheduled_on.to_s(:index) %>:&nbsp;<span class="event_name"><%= link_to_if event.published?, h(event.title), event_path(:action => 'show', :name => event.name) %></span>
	  <%# TODO duplicated %>
	  <% if logged_in_as_admin? -%>
	  &nbsp;<span class="admin_event_edit"><%= link_to  '編集', edit_admin_event_path(event) %></span>
	  <% end -%>
	</li>
  <% end -%>
<% else -%>
  <li>開催予定の地域Ruby会議はありません</li>
<% end -%>
</ul>

<h2>過去の地域Ruby会議</h2>
<ul>
<% @archives.each do |event| -%>
<li><%=h event.scheduled_on.to_s(:index) %>:&nbsp;<%= link_to h(event.title), url_for(:action => 'show', :name => event.name) %>
	  <%# TODO duplicated %>
	  <% if logged_in_as_admin? -%>
	  &nbsp;<span class="admin_event_edit"><%= link_to  '編集', edit_admin_event_path(event) %></span>
	  <% end -%>
</li>
<% end -%>
</ul>

<% if logged_in_as_admin? -%>
<h2>管理者用メニュー</h2>
<ul>
<li><%= link_to '地域Ruby会議を新しく開催する', new_admin_event_path %></li>
</ul>
<ul>
<li><%= link_to '地域Ruby会議の管理用メニュー', admin_events_path %></li>
<li><%= link_to 'ユーザ(というか管理者)の一覧', admin_users_path %></li>
</ul>
<% end -%>
</div><!-- /event_index -->
