<h1 id="welcome">地域Ruby会議(Regional RubyKaigi)</h1>
<div class="epigraph">
<blockquote cite="http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008">
“regional” wasn’t going to mean “provincial”—that regional conferences could be top-notch events—and that hope has been fulfilled beyond what we could possibly have wished for.
</blockquote>
<div class="source">―― <%= link_to 'D.A.Black', 'http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008' %></div>
</div>
<div class="event_index">
<p>地域Ruby会議(Regional RubyKaigi;りーじょなるるびーかいぎ)は、小さな<a href="http://rubykaigi.org/">RubyKaigi</a>をいろんな地域でやってしまおうというプロジェクトです。日本Rubyの会が<a href="http://www.fdiary.net/ml/ruby/msg/1929">後援</a>しています。</p>
<h2>これから開催される地域Ruby会議</h2>
<ul>
<% unless @upcomings.blank? -%>
  <% @upcomings.each do |event| -%>
    <li><%=h(dates_of(event)) %>:&nbsp;<span class="event_name"><%= link_to_if event.published?, h(event.title), event_path(:action => 'show', :name => event.name) %></span>
	  <%# TODO duplicated %>
	  <% if logged_in_as_admin? -%>
	  &nbsp;<span class="admin_event_edit"><%= link_to  '編集', edit_admin_event_path(event) %></span>
	  <% end -%>
	</li>
  <% end -%>
<% else -%>
  <li>開催予定の地域Ruby会議はありません</li>
<% end -%>
</ul>

<h2>過去の地域Ruby会議</h2>
<ul>
<% @archives.each do |event| -%>
<li><%=h(dates_of(event)) %>:&nbsp;<%= link_to h(event.title), url_for(:action => 'show', :name => event.name) %>
	  <%# TODO duplicated %>
	  <% if logged_in_as_admin? -%>
	  &nbsp;<span class="admin_event_edit"><%= link_to  '編集', edit_admin_event_path(event) %></span>
	  <% end -%>
</li>
<% end -%>
</ul>

<%= render(:partial => "admin_menu") %>

</div><!-- /event_index -->

<% content_for :javascript do -%>
<%= javascript_include_tag "jquery.simplemodal-1.1.1.pack" %>
<% end -%>
