%h2
  参加登録:
  &= @event.title

= error_messages_for :attendee

- form_for @attendee, :url => {:action => 'register'}, :method => :post do |f|
  %table
    %tr
      %td= f.label :name, 'お名前'
      %td= f.text_field :name
    %tr
      %td= f.label :email, 'E-mail'
      %td= f.text_field :email
    %tr
      %td= f.label :comment, 'コメント'
      %td= f.text_area :comment, :cols => 40, :rows => 3
    %tr
      %td{:colspan => 2}= f.submit "登録する", :disabled => !@event.registration_enabled?

E-mailに入力したメールアドレスに登録完了を通知するメールが届きます。


.backto= link_to '戻る', url_for(:name => @event.name, :action => 'show')
