<% if !@event.published? && logged_in_as_admin? -%>
<div class="admin_notice">
現在、この画面は管理者にしか見えません。
</div>
<% end -%>
<div class="event">
  <h2>
	<%=h @event.title %><span class="official_tag">(<%=h @event.official_tag %>)</span>
	<%# TODO duplicated %>
	<% if logged_in_as_admin? -%>
	<span class="admin_event_edit" style="font-size:60%;font-weight:normal;"><%= link_to  '編集', edit_admin_event_path(@event) %></span>
	<% end -%>
  </h2>
  <% if @event.expired? %>
  <div class="event_was_over">
  <%= render_hiki(@event.message_of_the_day_after) %>
  </div>
  <% end -%>
  <h3>参加登録</h3>
  <%= render_registration_link %>

  <div class="event_desc">
	<%= render :partial => "event_desc", :locals => {:event => @event} %>
  </div>

  <h3>参加登録</h3>
  <%= render_registration_link %>

  <h3>お問い合わせ</h3>
  <p class="contact">
  <%=h @event.title %>に関するお問い合わせは、<%=h @event.contact_email.gsub(/@/, ' _at_ ') %>までメールにてご連絡ください。
  </p>

</div>
