<h1>Listing users</h1>

<%= link_to 'New user', new_admin_user_path %>

<table class="attendee_list">
  <tr>
	<th>Login</th>
	<th>Identity Url</th>
	<th>admin?</th>
  </tr>
<% for user in @users %>
  <tr>
	<td style="padding: 0 1em;"><%=h user.login %></td>
	<td><%=h user.identity_url %></td>
	<td style="padding: 0 1em;"><%= check_box_tag :admin, true, user.admin?, :disabled => true %></td>
	<td class="command"><%= link_to 'Edit', edit_admin_user_path(user) %>
    <td class="command"><%= link_to 'Destroy', {:action => :destroy, :id => user}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
