<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "regional" %>
  <%= javascript_include_tag :all %>
  <title><%=h page_title %></title>
</head>
<body>
  <div style="background:#000"><div style="width:90%;margin:0 auto;"><span style="color:#c00;font-weight:bold;">Regional RubyKaigi</span></div></div>
  <div id="wrapper">
	<div id="container">
  <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
  <%= yield %>
	</div>
  </div>
  <div style="background:#000"><div style="width:90%;margin:0 auto;text-align:right;"><span style="color:#c00;font-weight:bold;">Regional RubyKaigi</span></div></div>
</body>
</html>
